@model Client

@{
    ViewBag.Title = "Sign up";
}

@using( Html.BeginForm("Signup","Home",FormMethod.Post))
{
    <div class="container register" style="height:2000px">
        <div class="row">
            <div class="col-md-5 register-left">
                <img src="https://images.unsplash.com/photo-1554679665-f5537f187268?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80&fbclid=IwAR28W4Yw47xHCDZ69nW4yY16WLQ8rchbr_OwQFkTPjsmHzUHnhcGjiDdz-U" alt="logo" />
                
            </div>
            <div class="col-md-7">
                <h3 style="height:30px">Welcome</h3>
                <p>
                    You are a few clicks away from creating your account 
                    <br />
                </p>
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="../Home/Signup" role="tab" aria-controls="home" aria-selected="true">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="../Home/Signin" role="tab" aria-controls="profile" aria-selected="false">Sign in</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div style="height:25px"></div>
                        <h3 class="register-heading">Register</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group w-100">
                                    NAME :
                                    @Html.TextBoxFor(e => e.Name, new { @class = "form-control", placeholder = "Full Name *" })
                                    @Html.ValidationMessageFor(e => e.Name)
                                </div>
                                <br />
                                <div class="form-group w-100">
                                    EMAIL :
                                    @Html.TextBoxFor(e => e.email, new { @class = "form-control", placeholder = "Your Email *" })
                                    @Html.ValidationMessageFor(e => e.email)
                                </div>
                                <br/>
                                <div class="form-group w-100">
                                    PASSWORD :
                                    @Html.TextBoxFor(e => e.password, new { id = "password", @class = "form-control", placeholder = "Password *" })
                                    @Html.ValidationMessageFor(e => e.password)
                                </div>
                                <br />
                                <div class="form-group w-100">
                                    PHONE NUMBER
                                    @Html.TextBoxFor(e => e.phoneNumber, new { @class = "form-control", placeholder = "Your Phone number *" })
                                    @Html.ValidationMessageFor(e => e.phoneNumber)

                                </div>
                                <div style="height:30px"></div>
                                <input type="submit" class="btnRegister btn btn-dark" value="Sign up" />
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                var msg = '@ViewData["result"]';
                if (msg == '1') {
                    alert("User Details Inserted Successfully");
                    window.location.href = "@Url.Action("Signup", "Home")";
                }
            });
        </script>
        
    </div>
}
