@model List<Reservation>
<div class="row justify-content-around w-100">
    <h1 class="col-8">
       Recent reservations
    </h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Restaurant</th>
            <th scope="col">Date</th>
            <th scope="col">Nombre de places reservées</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (Reservation r in Model)
        { @if(r.date>=DateTime.Today)
            {
            <tr>
                <td>@r.restaurant.Name</td>
                <td>@r.date.Day/@r.date.Month/@r.date.Year</td>
                <td>@r.nbPlacesRes</td>
                <td><a href="../Profile/DeleteReservation/@r.Id"><button type="button" class="btn btn-danger btn-sm">Cancel Reservation</button></a></td>

            </tr>
            }
        }

    </tbody>
</table>
<div class="row justify-content-around w-100">
    <h1 class="col-8">
        Archieve
    </h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Restaurant</th>
            <th scope="col">Date</th>
            <th scope="col">Nombre de places reservées</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Reservation r in Model)
        { @if (r.date < DateTime.Today)
            {
                <tr>
                    <td>@r.restaurant</td>
                    <td>@r.date.Day/@r.date.Month/@r.date.Year</td>
                    <td>@r.nbPlacesRes</td>
                </tr>
            }
        }

    </tbody>
</table>