@model Reservation
@{

    ViewData["Title"] = "book";
}




@using (Html.BeginForm("book", "Restaurant", FormMethod.Post))
{
    <div class="container register" style="height:2000px">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="" alt="logo" />
                <h3 style="height:30px">Welcome To Our Restaurant </h3>
            </div>
            <div class="col-md-9 ">
               
                <div class="tab-content" id="myTabContent">
                   
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h1>DATE</h1>
                                    @Html.TextBoxFor(e => e.date, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(e => e.date)
                                </div>
                                <div class="form-group">
                                    <h1>NOMBRE DE PLACE</h1>
                                    @Html.TextBoxFor(e => e.nbPlacesRes, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(e => e.nbPlacesRes)
                                </div>

                                
                                <div style="height:30px"></div>
                                <input type="submit" class="btnRegister" value="valider" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                var msg = '@ViewData["result"]';
                if (msg == '1') {
                    alert("you have made reservation Successfully");
                    window.location.href = "@Url.Action("book", "Restaurant")";
                }
            });
        </script>

    
}
